* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', serif;
    line-height: 1.5;
    background: #F5F2E7;
    color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Unica One', sans-serif;
  color: #4A6741;
  font-weight: lighter;
}

header {
    background: #7BB661;
    width: 100%;
    height: 135px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 2em 0 0;
}

.logo {
    max-width: 246px;
    max-height: 135px;
    margin-left: 0.5em;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 3em;
}

a {
    color: #F5F2E7;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.65em;
}

a:hover {
    color: #4A6741;
}

a.active {
    color: #4A6741;
}

.heroImage1 {
    position: relative;
    width: 100%;
    height: 270px;    
    overflow: hidden;
    margin: 0 auto;
}

.heroImage1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 48%;
    display: block;
}

.heroImage1 .hero-text {
    margin: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3.4em;
    line-height: 1;
    color: #F5F2E7;
    font-weight: normal;
}

section {
    margin: 1.3em 2em;
}

h1 {
    font-size: 1.6em;
    grid-column: span 2;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.1em;
    margin-bottom: 0.9em;
}

p {
    font-size: 1.3em;
}

.grid { 
    display: flex;
    gap: 8.3em;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

article {
    width: 385px;
    height: 160px;
    text-align: left;
}

article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0.3em;
    display: block;
    border-radius: 6px;
}

.featured article:first-of-type img {
    object-position: 20% 85%;
}

.featured article:nth-of-type(2) img {
    object-position: 20% 8%;
}

.featured article:last-of-type img {
    object-position: 50% 70%;
}

.cta {
    margin-top: 11.5em;
}

main {
    margin: 2em;
}

.matcha101-columns {
    width: 93%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em 2.5em;
}

section {
    margin-left: 0;
    margin-bottom: 0;
    line-height: 1.8;
}

.heroImage2 {
    width: 100%;
    height: 240px;    
    overflow: hidden;
    margin: 0 auto;
}

.heroImage2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 65%;
    display: block;
}

section ul, section ol {
    padding-left: 50px;
    font-size: 1.3em;
}

.wellness-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 360px;
    grid-column: span 2;
}

.table {
    margin-top: 10px;
    grid-column: span 2;
}

table {
    width: 80%;
    margin: 4px auto auto 160px;
    border-collapse: collapse;
    color: #fff;
    font-size: 1.2em;
    background-color: #4A6741;
}

th, td {
    border: 3px solid #F5F2E7;
    padding: 10px;
    text-align: center;
    width: 180px;
}

th {
    font-size: 1.2em;
    background-color: #4A6741;
}

tr:nth-child(odd) {
    background-color: #7BB661;
}

blockquote {
    width: 46%;
    margin: 1em auto;
    font-style: italic;
    font-weight: 700;
    font-size: 0.83em;
    line-height: 1.5;
    background-color: #F5F2E7;
    padding: 10px;
    border: 1px solid #4A6741;
    border-left: 9px solid #4A6741;
    border-radius: 8px;
}

.recipes-columns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 11.5em;
    align-items: start;
}

.recipes-columns section {
    margin-bottom: 0;
    margin-top: 0;
}

.recipes-columns section p, .recipes-columns section ul, .recipes-columns section ol {
    margin-left: 1.7em;
}

iframe {
    display: block;
    width: 275;
    height: 480;
    margin: 0.5em auto auto 2em;
    border: 3px solid #4A6741;
    border-radius: 8px;
}

footer {
    background-color: #4A6741;
    color: #F5F2E7;
    text-align: center;
    padding: 2em;
}