* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', serif;
    line-height: 1.6;
    background: #F5F2E7;
    color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Unica One', sans-serif;
  color: #4A6741;
  margin-top: 0.5em;
}

header {
    background: #7BB661;
    width: 100%;
    height: 135px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 1.5em 0 0;
}

.logo {
    max-width: 246px;
    max-height: 135px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2.1em;
}

a {
    color: #F5F2E7;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.7em;
}

a:hover {
    color: #4A6741;
}

a.active {
    color: #4A6741;
}

.heroImage1 img {
    width: 100%;
    height: auto;
    max-height: 260px;
    object-fit: cover;
}

.heroImage1 .hero-text {
    font-size: 2rem;
    color: #F5F2E7;
    display: inline-block;
    border-radius: 10px;
}